In [1]:
# importa nosso amigo Pandas
import pandas as pd

In [2]:
# lê o arquivo csv com dados sobre empréstimo - essa é uma versão mais organizada e menor 
#  do dataset disponível em kaggle.com/wendykan/lending-club-loan-data
df = pd.read_csv('loan.csv')

In [3]:
# cabeçalho, perceba que a última coluna representa quem são os caloteiros (not.fully.paid == 1)
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [4]:
# como a coluna 'purpose' (propósito) é de strings, temos que modificá-la para int usando o método get_dummies
mudar_colunas = ['purpose']
final_df = pd.get_dummies(df, columns = mudar_colunas, drop_first=True)
final_df.info()
# perceba que novas colunas foram criadas contendo informação se cada linha pertence ou não a um determinado tipo de propósito

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 19 columns):
credit.policy                 9578 non-null int64
int.rate                      9578 non-null float64
installment                   9578 non-null float64
log.annual.inc                9578 non-null float64
dti                           9578 non-null float64
fico                          9578 non-null int64
days.with.cr.line             9578 non-null float64
revol.bal                     9578 non-null int64
revol.util                    9578 non-null float64
inq.last.6mths                9578 non-null int64
delinq.2yrs                   9578 non-null int64
pub.rec                       9578 non-null int64
not.fully.paid                9578 non-null int64
purpose_credit_card           9578 non-null uint8
purpose_debt_consolidation    9578 non-null uint8
purpose_educational           9578 non-null uint8
purpose_home_improvement      9578 non-null uint8
purpose_major_purchase        9578 non-null uint8
purpose_small_business        9578 non-null uint8
dtypes: float64(6), int64(7), uint8(6)
memory usage: 1.0 MB

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
# divide o dataset em treino e teste
X = final_df.drop('not.fully.paid', axis=1)
y = final_df['not.fully.paid']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [7]:
#treina o modelo usando o algoritmo Árvore de Decisão do sklearn
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [8]:
# previsões
prev = dtc.predict(X_test)

In [9]:
from sklearn.metrics import accuracy_score

In [10]:
# conseguimos uma acurácia em torno de 74% em identificar quem vai dar calote ou não
accuracy_score(y_test, prev)

0.7299930410577592

In [11]:
# vamos ver como a gente se sai usando Floresta Aleatória
from sklearn.ensemble import RandomForestClassifier

In [12]:
# n_estimator é o número de árvores na floresta
rfc = RandomForestClassifier(n_estimators=250)

In [13]:
# mesmo processo de sempre
rfc.fit(X_train, y_train)
prev2 = rfc.predict(X_test)

In [14]:
# dessa vez conseguimos cerca de 84% de acurácia
accuracy_score(y_test, prev2)

0.8458594293667363